{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/buildings.css') }}" rel="stylesheet"/>
{% endblock %}
{% block title %}Space-Tactics Main{% endblock %}
{% block body %}

    {% include 'parts/ingame_mainmenu.html.twig' %}
    <section id="content" class="main buildings-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-12">
                    {% if app.user is not null %}
                        {% include 'parts/sidebar.html.twig' %}
                    {% endif %}
                </div>
                <div class="col-lg-10 col-md-12">
                    <section>
                        <div class="row">
                            <div class="col-lg-7 col-md-12">
                                <div class="row">
                                    <div class="col-lg-6 mt-1">
                                        <h3>{{ user.username }}, dein letzter Scan zeigt dir folgendes an! </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            {% set width = dimensions.galaxy_width %}
                            {% set height = dimensions.galaxy_height %}

                            <div class="galaxy">
                            {% for i in 1..width %}
                                <div class="galaxy-item"></div>
                                {% for j in 1..height %}
                                    <div class="galaxy-item"></div>
                                {% endfor %}
                            {% endfor %}
                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    {% include 'parts/footer.html.twig' %}
{% endblock %}
